<%# content_for :sidebar do %>
<%#*<h3> 用户测试集 </h3>%>
<%#= link_to_function "回归集"  %>
<%#*<h3> 系统测试集 </h3>%>
<%#= sidebar_item "列表" , "/auto/testsuites/" %>
<%#*<h3> 我的TAM </h3>%>
<%#*<div>%>
<%#= link_to_function "设置" ,"/auto/setting"%>
<%#*</div>%>
<%# end %>