<h1>Editing pm_lib</h1>

<% form_for(@pm_lib) do |f| %>         
	<%= render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @pm_lib %> |
<%= link_to 'Back', pm_libs_path %>