<h1>Listing pm_libs</h1>

<table>
  <tr>
  </tr>

<% @pm_libs.each do |pm_lib| %>
  <tr>
    <td><%= link_to 'Show', pm_lib %></td>
    <td><%= link_to 'Edit', edit_pm_lib_path(pm_lib) %></td>
    <td><%= link_to 'Destroy', pm_lib, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pm_lib', new_pm_lib_path %>