<h1>对象库列表</h1>

<table>
  <tr>
	 <td>名称</td>             
    <td></td>  
  </tr>

<% @pm_libs.each do |pm_lib| %>
  <tr>
    <td><%= link_to pm_lib.name, pm_lib %></td>             
    <td><%= link_to 'Destroy', pm_lib, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新建对象库', new_pm_lib_path %>