<ul>
	<% if @testsuite %>
		<li>
			<a href="#" class="icon-add">add to suite</a>
		</li>	
	<% end %>
	<li>
		<a href="#" class="icon-edit disabled">Edit</a>
	</li>	
	<li>
		<a href="#" class="icon-move disabled">Move</a>
	</li>
	<li>
		<a href="#" class="icon-del disabled">Delete</a>
	</li>
</ul>
