<table>
    <tr>
        E-Mail通知地址: 
        <font color="red">
            多个email之间用;分隔
        </font>
    </tr>
    <tr>
        <td>
            <%= text_area_tag 'mail_to', @testsuite_category.mail_to, :size => "55x3" %>
        </td>
    </tr>
</table>
