<%# content_for :sidebar do %>
<%#*<h3> 自动化 </h3>%>
<%#= link_to "项目" ,{:controller => :projects} %>
<%#*<br />%>
<%#= link_to "任务列表" ,{:controller => :task} %>
<%#*<br />%>
<%#= link_to "显示机器" ,{:controller => :machine} %>
<%#*<br />%>
<%#= link_to "回归分类" ,   {:controller => :testsuites_categories} %>
<%#*<br />%>
<%# end %>