
<% form_for :user do |form|-%>
	<p><label for="user_password">new password <span class="required">*</span></label>
	<%=form.password_field :password %></p>

	<p><label for="user_password_confirmation">confirm new pass:<span class="required">*</span></label>
		
	<%=form.password_field :password_confirmation %></p>
	

	  <%= submit_tag 'submit' %>
		
<% end %>