<h1>New Folder</h1>

<% form_for(@pm_folder) do |f| %>
  <%= f.hidden_field "parent_id"%>
  <%= render :partial => "form", :locals => {:f => f} %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', pm_folders_path %>
