<%= live_tree :item_type_tree, {
              :initial_data_root => @root,
              :initial_data_options => { :depth => 2 },
              :initial_data_whole_tree => false,
              :css_class => "sidebar_tree",
              :preload_items => false,
              :allow_click_branch => true,
              :on_click_item => "onClickItem(item.id)" }
 %>

<script type="text/javascript" charset="utf-8">
	function onClickItem(itemId) {
  		new Ajax.Updater('list_view', '/items/list/'+itemId+'&rjs=true', {asynchronous:true, evalScripts:true})
  } 

	var loadId=<%=item_type_id%>
	Event.observe(window,"load",function(event){
		itemTypeTree.expandItem(loadId)
		onClickItem(loadId)
	});
</script>

<div id='list_view'>
    <% if init_list_view%>
	    <h1>正在加载，请稍等。。。</h1>
	<%else%>
		<center><h1>请在右侧栏目中选择分类</h1></center>
    <%end%>
</div>
