<%# content_for :sidebar do %>
<%#*<h3> 报表统计 </h3>%>
<%#= link_to '系统报表', { :action => 'index'}  %>
<%#*<br />%>
<%#= link_to '执行报表', { :controller =>"/admin/testsuites_categories" ,:action => 'list',:category_id=>"category_1"}  %>
<%#*<br />%>
<%#= link_to '回归bug报表', { :action => 'bug_report'}  %>
<%#*<br />%>
<%#= link_to '回归出错原因报表', { :action => 'failed_reason_report'}  %>
<%#*<br />%>
<%#= link_to '回归用例执行结果报表', { :action => 'regress_exec_result_report'}  %>
<%#*<br />%>
<%# end %>